  body {
 
   background-color: #BABAF4;
   style="font-family: Lato;"
  
}


.navbar {
  overflow: hidden;
  background-color: #333;
  
}




.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

  
  .button {
  background-color: #55c0e0; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  
  cursor: pointer;
  height:7%;
}



.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 19px;}
.button5 {border-radius: 50%;}

  input[type=text], select {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
  .center {
    margin: auto;
    width: 80%;
    border: 3px solid #215ead;
    padding: 10px;
    background-color:rgb(141, 227, 255);
    height: 80%;
   
  }
  .center1 {
    margin: auto;
    width: 80%;
    border: 3px solid #127dbb;
    padding: 10px;
    height:10%;
    background-color:#406ca5;
    
  }
  .center2 {
    margin: auto;
    width: 35%;
    border: 3px solid #73AD21;
    padding: 10px;
    height:5%;
    background-color:lightgrey;
    
  }
  .header-text {
    color: rgba(245, 249, 250, 0.952);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: Nunito!important;
    font-weight: 100px;
    font-size: 24px;
    line-height: 20px;
    margin-top: 1px;
    font:bold;
    font-family:'Times New Roman', Times, serif;
}
.subheader-text {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: Nunito!important;
    line-height: 12px;
    font-size: 11px;
}
 